<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <div class="contain-header">
        <header class="container">
            <img src="./images/logo-mercado-liebre.svg" alt="">
            <div class="navbar">
                <input type="text" placeholder="Buscar productos, marcas" class="navbar">
                <br>
                <div class="searchbar"><button><i class="fas fa-search"></i></button></div>
            </div>
            <nav class="container-nav">
                <div class="sercher"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</div>
                <div>
                    <ul class="loginbar">
                        <li>Ofertas</li>
                        <li>Tiendas Oficiales</li>
                        <li>Vender</li>
                        <li>Ayuda</li>
                        <br>
                        <li>Crea tu cuenta<i class="far fa-id-card"></i></li>
                        <li>Ingresa<i class="fas fa-sign-in-alt"></i></li>
                        <li>Mis compras<i class="fas fa-shopping-basket"></i></li>
                    </ul>
                </div>
            </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </header>
    </div>
    <main class="products">
        <section class="visited">
            <h2>Basado en tus ultimas visitas</h2>
            <article>
                <img src="./images/img-cafetera-moulinex.jpg">
                <h3 class="price">$6.770</h3>
                <h3 class="discount">40% OFF</h3>
                <h3 class="name-products">Cafetera Moulinex</h3>
            </article>
            <article>
                <img src="./images/img-macbook-pro-2019.jpg">
                <h3 class="price">$230.000</h3>
                <h3 class="discount">20% off</h3>
                <h3 class="name-products">MacBook Pro 2019</h3>
            </article>
            <h2>Ofertas</h2>
            <article>
                <img src="./images/img-samsung-galaxy-s10.jpg">
                <h3>$70.500</h3>
                <h3>10% off</h3>
                <h3>Samsung Galaxy S10</h3>
            </article>
            <article>
                <img src="./images/img-tv-samsung-smart.jpg">
                <h3>$23.200</h3>
                <h3>5% off</h3>
                <h3>SmartTv Samsung 43"</h3>
            </article>
        </section>
        <section class="offers">
            <article>
                <img src="./images/img-cafetera-moulinex.jpg">
                <h3>$6.770</h3>
                <h3>40% OFF</h3>
                <h3>Cafetera Moulinex</h3>
            </article>
            <article>
                <img src="./images/img-macbook-pro-2019.jpg">
                <h3>$230.000</h3>
                <h3>20% off</h3>
                <h3>MacBook Pro 2019</h3>
            </article>
            <article>
                <img src="./images/img-samsung-galaxy-s10.jpg">
                <h3>$70.500</h3>
                <h3>10% off</h3>
                <h3>Samsung Galaxy S10</h3>
            </article>
            <article>
                <img src="./images/img-tv-samsung-smart.jpg">
                <h3>$23.200</h3>
                <h3>5% off</h3>
                <h3>SmartTv Samsung 43"</h3>
            </article>
        </section>
    </main>
    <br>
    <footer class="footer-section">
        <section class="flex-container">
            <h3>
                <i class="fas fa-credit-card"></i>
                <br>
                <strong>
                    Paga con tarjeta o en efectivo
                </strong>
            </h3>
            <p>
                Con mercado liebre cash, tenes cuotas sin interes con tarjeta o efectivo en puntos de pago ¡Y siempre es seguro!
            </p>
            <br>
            <h3>
                <i class="fas fa-gift"></i>
                <br>
                <strong>
                    Envio gratis desde $ 2.500
                </strong>
            </h3>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenes envio gratis en miles de productos. Es un beneficio de mercado Puntos.
            </p>
            <br>
            <h3>
                <i class="fas fa-user-shield"></i>
                <br>
                <strong>
                    Seguridad, de principio a fin
                </strong>
            </h3>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedes hacer, por que estas protegid@
            </p>
            <br>
            <h3>
                <strong>
                    Copyright © 1999-2000 MercadoLiebre S.R.L.
                </strong>
            </h3>
        </section>
    </footer>
</body>
</html>