<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <div class="contain-header">
        <header class="flex-header">
            <div class="searchbar">
                <div class="logo">
                    <img src="./images/logo-mercado-liebre.svg" alt="">
                </div>
                <div class="search">
                    <input type="text" placeholder="Buscar productos, marcas" class="navbar">
                    <button>
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <div class="sub-title">
                    <i class="fas fa-hand-holding-usd"></i>
                    <h4>Compra en cuotas y sin tarjeta de credito</h4>
                </div>
            </div>
            <div class="end-header">
                <div class="navbar">
                    <ul>
                        <li>Ofertas</li>
                        <li>Tiendas Oficiales</li>
                        <li>Vender</li>
                        <li>Ayuda</li>
                    </ul>
                </div>
                <div class="loginbar">
                    <ul>
                        <li>Crea tu cuenta<i class="far fa-id-card"></i></li>
                        <li>Ingresa<i class="fas fa-sign-in-alt"></i></li>
                        <li>Mis compras<i class="fas fa-shopping-basket"></i></li>
                    </ul>
                </div>
                <div class="burger-menu">
                    <input type="checkbox" id="check">
                    <label for="check" class="checkbtn">
                        <i class="fas fa-bars"></i>
                    </label>
                </div>
            </div>
        </header>
    </div>
    <main class="products">
        <section class="visited">
            <h2>Basado en tus ultimas visitas</h2>
            <div class="flex__container">
                <article>
                    <img src="./images/img-cafetera-moulinex.jpg">
                    <h3 class="price">$6.770</h3>
                    <h3 class="discount">40% OFF</h3>
                    <h3 class="name__products-1">Cafetera Moulinex</h3>
                </article>
                <article>
                    <img src="./images/img-macbook-pro-2019.jpg">
                    <h3 class="price">$230.000</h3>
                    <h3 class="discount">20% off</h3>
                    <h3 class="name__products-2">MacBook Pro 2019</h3>
                </article>
                <article>
                    <img src="./images/img-samsung-galaxy-s10.jpg">
                    <h3 class="price">$70.500</h3>
                    <h3 class="discount">10% off</h3>
                    <h3 class="name__products-3">Samsung Galaxy S10</h3>
                </article>
                <article>
                    <img src="./images/img-tv-samsung-smart.jpg">
                    <h3 class="price">$23.200</h3>
                    <h3 class="discount">5% off</h3>
                    <h3 class="name__products-4">SmartTv Samsung 43"</h3>
                </article>
            </div>
        </section>
        <section class="offers">
            <h2>Ofertas</h2>
            <div class="flex__container">
                <article>
                    <img src="./images/img-cafetera-moulinex.jpg">
                    <h3 class="price">$6.770</h3>
                    <h3 class="discount">40% OFF</h3>
                    <h3 class="name__products-1">Cafetera Moulinex</h3>
                </article>
                <article>
                    <img src="./images/img-macbook-pro-2019.jpg">
                    <h3 class="price">$230.000</h3>
                    <h3 class="discount">20% off</h3>
                    <h3 class="name__products-2">MacBook Pro 2019</h3>
                </article>
                <article>
                    <img src="./images/img-samsung-galaxy-s10.jpg">
                    <h3 class="price">$70.500</h3>
                    <h3 class="discount">10% off</h3>
                    <h3 class="name__products-3">Samsung Galaxy S10</h3>
                </article>
                <article>
                    <img src="./images/img-tv-samsung-smart.jpg">
                    <h3 class="price">$23.200</h3>
                    <h3 class="discount">5% off</h3>
                    <h3 class="name__products-4">SmartTv Samsung 43"</h3>
                </article>
            </section>
        </div>
    </main>
    <footer class="footer-section">
        <section class="footer-flex">
            <i class="fas fa-credit-card"></i>
            <h3>
                Paga con tarjeta o en efectivo
            </h3>
            <p>
                Con mercado liebre cash, tenes cuotas sin interes con tarjeta o efectivo en puntos de pago ¡Y siempre es seguro!
            </p>
            <i class="fas fa-gift"></i>
            <h3>
                Envio gratis desde $ 2.500
            </h3>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenes envio gratis en miles de productos. Es un beneficio de mercado Puntos.
            </p>
            <i class="fas fa-user-shield"></i>
            <h3>
                Seguridad, de principio a fin
            </h3>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedes hacer, por que estas protegid@
            </p>
            <h3 class="copyright">
                Copyright © 1999-2000 MercadoLiebre S.R.L.
            </h3>
        </section>
    </footer>
</body>
</html>