<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <div class="contein-header">
        <header class="flex-header">
            <div class="searchbar">
                <div class="logo">
                    <img src="./images/logo-mercado-liebre.svg" alt="">
                </div>
                <div class="search">
                    <input type="text" placeholder="Buscar productos, marcas" class="navbar">
                    <button>
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <div class="sub-title">
                    <i class="fas fa-hand-holding-usd"></i>
                    <h4>Compra en cuotas y sin tarjeta de credito</h4>
                </div>
            </div>
            <div class="end-header">
                <div class="navbar">
                    <ul>
                        <li>Ofertas</li>
                        <li>Tiendas Oficiales</li>
                        <li>Vender</li>
                        <li>Ayuda</li>
                    </ul>
                </div>
                <div class="loginbar">
                    <ul>
                        <li>Crea tu cuenta<i class="far fa-id-card"></i></li>
                        <li>Ingresa<i class="fas fa-sign-in-alt"></i></li>
                        <li>Mis compras<i class="fas fa-shopping-basket"></i></li>
                    </ul>
                </div>
                <div class="burger-menu">
                    <input type="checkbox" id="check">
                    <label for="check" class="checkbtn">
                        <i class="fas fa-bars"></i>
                    </label>
                </div>
            </div>
        </header>
    </div>
    <div class="login">
        <div id="title">
            <h4>Ingresa a tu cuenta</h4>
        </div>
        <form action="/">
            <div class="contein-input user">
                <label for="user">
                    <input type="text" placeholder="Ingrese su usuario" id="user">
                </label>
            </div>
            <div class="contein-input pass">
                <label for="pass">
                    <input type="password" placeholder="Ingrese su contraseña" id="pass">
                </label>
            </div>
            <div class="contein-button">
                <button type="submit">ENTRAR</button>
            </div>
        </form>
    </div>

    <footer class="footer-section">
        <section class="footer-flex">
            <i class="fas fa-credit-card"></i>
            <h3>
                Paga con tarjeta o en efectivo
            </h3>
            <p>
                Con mercado liebre cash, tenes cuotas sin interes con tarjeta o efectivo en puntos de pago ¡Y siempre es seguro!
            </p>
            <i class="fas fa-gift"></i>
            <h3>
                Envio gratis desde $ 2.500
            </h3>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenes envio gratis en miles de productos. Es un beneficio de mercado Puntos.
            </p>
            <i class="fas fa-user-shield"></i>
            <h3>
                Seguridad, de principio a fin
            </h3>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedes hacer, por que estas protegid@
            </p>
            <h3 class="copyright">
                Copyright © 1999-2000 MercadoLiebre S.R.L.
            </h3>
        </section>
    </footer>
    <footer class="footer-section-desktop">
        <section class="footer-flex-desktop">
            <div class="footer-1">
                <i class="fas fa-credit-card"></i>
                <h3>
                    Paga con tarjeta o en efectivo
                </h3>
                <p>
                    Con mercado liebre cash, tenes cuotas sin interes con tarjeta o efectivo en puntos de pago ¡Y siempre es seguro!
                </p>
            </div>
            <div class="footer-2">
                <i class="fas fa-gift"></i>
                <h3>
                    Envio gratis desde $ 2.500
                </h3>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenes envio gratis en miles de productos. Es un beneficio de mercado Puntos.
                </p>
            </div>
            <div class="footer-3">
                <i class="fas fa-user-shield"></i>
                <h3>
                    Seguridad, de principio a fin
                </h3>
                <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedes hacer, por que estas protegid@
                </p>
            </div>
        </section>
        <h3 class="copyright">
            Copyright © 1999-2000 MercadoLiebre S.R.L.
        </h3>
    </footer>
</body>
</html>