.contein-register .register {
    padding: 5px;
}

.contein-register .register .photo {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contein-register .register .photo div{
    border: 1px solid black;
    height: 25vw;
    width: 25vw;
}

.contein-register .register .photo div img{
    width: 100%;
    height: 100%;
}

.contein-register .register form .file {
    height: 4.5rem;
    width: 90%;
}

.contein-register .register form .file label {
    flex-direction: column;
}

.contein-register .register form .name {
    height: 4rem;
    width: 80%;
}

.contein-register .register form .name label input{
    width: 70%;
}

.contein-register .register form .user {
    height: 2.5rem;
    width: 90%;
}

.contein-register .register form .user label input {
    width: 75%;
}

.contein-register .register form .email {
    height: 2.5rem;
    width: 80%;
}

.contein-register .register form .email label input {
    width: 90%;
}

.contein-register .register form .pass {
    margin-bottom: -0.4rem;
}

.contein-register .register form .pass,
.contein-register .register form .rePass {
    height: 3rem;
    width: 70%;
}

.contein-register .register form .date {
    height: 4.5rem;
    width: 80%;
}

.contein-register .register form .date label {
    flex-direction: column;
}

.contein-register .register form .radio {
    height: 7rem;
    width: 65%;
}

.contein-register .register form .radio div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contein-register .register form .radio div label {
    height: initial;
    justify-content: center;
}

.contein-register .register form .radio div label input {
    box-shadow: none;
}

.contein-register .register form .check {
    height: 14rem;
    width: 75%;
    justify-content: space-evenly;
    align-items: center;
}

.contein-register .register form .check label {
    justify-content: center;
    height: initial;
}

.contein-register .register form .check label input {
    box-shadow: none;
}

.contein-register .register form .contein-button button {
    margin-top: 4rem;
}



@media (min-width: 769px) {

    .contein-register .register .photo div{
        height: 15rem;
        width: 15rem;
    }

    .contein-register .register form {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .contein-register .register form .pass,
    .contein-register .register form .rePass {
        margin-bottom: 0;
    }

    .contein-register .register form .contein-input {
        margin: 1.5rem 0;
    }

    .contein-register .register form .file {
        width: 65%;
    }

    .contein-register .register form .file label input{
        width: 65%;
    }
    
    .contein-register .register form .name {
        width: 40%;
    }
    
    .contein-register .register form .user {
        height: 4rem;
        width: 40%;
    }
    
    .contein-register .register form .email {
        height: 3.5rem;
        width: 65%;
    }
    
    .contein-register .register form .email label input {
        width: 60%;
    }
    
    .contein-register .register form .pass,
    .contein-register .register form .rePass {
        height: 4rem;
        width: 40%;
    }

    .contein-register .register form .pass label input,
    .contein-register .register form .rePass label input {
        width: 70%;
    }
    
    .contein-register .register form .date {
        height: 7rem;
        width: 35%;
    }
    
    .contein-register .register form .radio {
        width: 35%;
    }
    
    .contein-register .register form .check {
        width: 45%;
    }
    
    .contein-register .register form .contein-button button {
        margin: 4rem 0 2rem 0;
    }

}